In [1]:
import pandas as pd

In [6]:
user = pd.read_json('../userdata/user.json')
del user['id']
user

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad,BMI
0,female,21,1.620000,64,True,False,sometimes,3,sometimes,False,between 1 and 2 l,False,0,3 to 5,False,public_transportation,normal_weight,24.386526
1,female,21,1.520000,56,True,False,always,3,sometimes,True,more than 2 l,True,4 to 5,0 to 2,sometimes,public_transportation,normal_weight,24.238227
2,male,23,1.800000,77,True,False,sometimes,3,sometimes,False,between 1 and 2 l,False,2 to 4,3 to 5,frequently,public_transportation,normal_weight,23.765432
3,male,27,1.800000,87,False,False,always,3,sometimes,False,between 1 and 2 l,False,2 to 4,0 to 2,frequently,walking,overweight_level_i,26.851852
4,male,22,1.780000,90,False,False,sometimes,1,sometimes,False,between 1 and 2 l,False,0,0 to 2,sometimes,public_transportation,overweight_level_ii,28.342381
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,female,21,1.710730,131,True,True,always,3,sometimes,False,between 1 and 2 l,False,2 to 4,3 to 5,sometimes,public_transportation,obesity_type_iii,44.901475
2107,female,22,1.748584,134,True,True,always,3,sometimes,False,between 1 and 2 l,False,1 to 2,3 to 5,sometimes,public_transportation,obesity_type_iii,43.741923
2108,female,23,1.752206,134,True,True,always,3,sometimes,False,between 1 and 2 l,False,1 to 2,3 to 5,sometimes,public_transportation,obesity_type_iii,43.543817
2109,female,24,1.739450,133,True,True,always,3,sometimes,False,more than 2 l,False,1 to 2,3 to 5,sometimes,public_transportation,obesity_type_iii,44.071535
2110,female,24,1.738836,133,True,True,always,3,sometimes,False,more than 2 l,False,1 to 2,3 to 5,sometimes,public_transportation,obesity_type_iii,44.144338